@import "tailwindcss";
@import "uplot/dist/uPlot.min.css";

body {
    background-color: #000;
    color: #fff;
    margin: 0;
    font-family: Inter, system-ui, -apple-system, sans-serif;
    letter-spacing: -0.01em;
}

.box {
    border: 1px solid #222;
    border-radius: 8px;
    overflow: hidden;
}

.box-header {
    background-color: #111;
    padding: 12px 16px;
    border-bottom: 1px solid #222;
    font-weight: 700;
    font-size: 14px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
    padding: 12px 16px;
    background-color: #050505;
    border-bottom: 1px solid #222;
    font-size: 11px;
    color: #888;
    text-transform: uppercase;
}

td {
    padding: 12px 16px;
    border-bottom: 1px solid #111;
    font-size: 13px;
}

.btn {
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 13px;
    transition: all 0.2s;
    border: 1px solid transparent;
}

.btn-primary {
    background-color: #fff;
    color: #000;
}

.btn-primary:hover {
    background-color: #ccc;
}

.btn-danger {
    border-color: #dc2626;
    color: #dc2626;
}

.btn-danger:hover {
    background-color: #dc2626;
    color: #fff;
}